// utilities/_btn.scss

a.btn {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin: auto;
    padding: 5px 20px;
	border: 2px solid #000;
	background: #000;
	color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
    width: 200px;
}
a.btn:hover {
	color: #000;
	background: #fff;
}
.map_to_list_wrap {
    display: flex;
    justify-content: center;
    a.btn.btn-addition02 {
        border-radius: unset;
        // padding: 16px;
        margin: 0 auto;
        // display: inline-grid;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49%;
        height: 70px;
	    background: #f3f3f3;
	    color: #000;
	    border: 2px solid #c8c2c2;
        line-height: 1.3rem;
    }
    a.btn.btn-addition02:hover {
	    color: #fff;
	    background: #666;
    }
}

.entry-footer {
    .tags-links,
    .cat-links {
        a {
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 8px 12px;
            border-radius: 8px;
            border: solid 1px #000;
            line-height: .8rem;
        }
    }
}
