// utilities/_for-cat-tag-list.scss

.tag-list-wrap {
    // grid-column: 1 / 13;
    // background-color: #000;
    color: #000;

    .tag-title {
        margin: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        li {
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 8px 12px;
            border-radius: 8px;
            border: solid 1px #000;
            line-height: .8rem;
            a {
                text-decoration: none;
                font-size: 1rem;
                color: #000;
            }
        }
    }
}

