.pagination-wrap {
  grid-column: 1 / 13;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  max-width: 960px;

  li {
    margin: 5px;

    .page-numbers {
      border: 2px solid;
      padding: 5px 10px;
      text-decoration: none;
      color: #333;
    }

    .page-numbers:hover {
      background-color: #d9d9da;
    }

    .page-numbers.current {
      background-color: #d9d9da;
    }

    .pagination-total {
      text-align: center;
    }
  }
}

