// layouts/_top-animation

// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.not-scroll {
    overflow: hidden;
}

.top-bg-back {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color__background-theme;
}

.top-bg-back.none {
    transform: translate(0, -100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
}

.skip_wrap {
    position: fixed;
    z-index: 220;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -90%);
    display: inline-flex;
    /* 「.boxの opacity が状態変化する」という指定 */
    transition-property: opacity;
    transition-duration: 2s;
    /* .boxの初期状態を指定 */
    opacity: 0;

    .more,
    .pose,
    .skip {
        width: 40px;
        height: 40px;
        text-align:center;
        line-height: 35px;
        border-radius: 50px;
        border: solid 1px #cc4d4d;
        font-size: .85rem;
        opacity: .8;
    }
    .more {
        width: 200px;
        margin: 0 15px;
    }
    .more:hover,
    .pose:hover,
    .skip:hover {
        background: #a06abe;
    }
    .available {
        background: #654378;
    }
}
.skip_wrap.on {
    /* .boxの状態変化後を指定 */
    opacity: 1;
}

.top-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    // height: 100vh;
    height: 100%;
    color: #fff;

    position: fixed;
    z-index: 210;

    /* テキストのスタイル */
    .top-title {
        display: block;
        color: #fff;
        // font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        margin: -50px auto 0;
        padding: 60px 0 90px;
        overflow: scroll;
        br {
            // display: none;
        }
    }
    .top-title span {
        display: block;
        opacity: 0;
        transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1.6s, opacity linear 0.3s;
        transform: translate(0, 40px);
        // font-size: 20px;
        font-size: 1.16rem;
        line-height: 2.4rem;
        text-align: left;
        max-width: 800px;
        margin: 18px 62px 0;
    }

    .top-title span a {
        color: #fff;
    }
    .top-title span:nth-child(1) {
        text-align: center;
    }
    .top-title .title-normal {
        font-size: 1.25rem;
        font-weight: bold;
    }
    .top-title .title-large {
        // transition-delay: 0s;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .top-title span:nth-child(2) {
        // transition-delay: 2.5s;
    }
    .top-title span:nth-child(3) {
        // transition-delay: 12.5s;
    }
    .top-title span:nth-child(4) {
        // transition-delay: 22.5s;
    }
    .top-title span:nth-child(5) {
        // transition-delay: 28s;
        text-align: right;
    }
    @include media(md) {
        .top-title {
            margin-top: 0;
            padding: 0 0 90px;
            span {
                font-size: .95rem;
                line-height: 1.8rem;
                text-align: left;
                margin: 10px 20px 0;
            }
            span:nth-child(1) {
                font-size: 1.1rem;
                text-align: center;
            }
        }
    }
}

.top-bg.-visible:before {
    transform: translate(0, 0);
}
.top-bg:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #86040e;
    transform: translate(0, 100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
    content: '';
}
.top-bg.-visible .top-title span {
    // opacity: 1;
    // transform: translate(0, 0);
}

.diasbled {
	display: none;
}

